@page "/"

<PageTitle>IconCreator</PageTitle>

<h3 class="flex justify-center pb-4">Blazor Server File Upload</h3>

<div data-theme="pastel" class="flex h-screen">
    <div class="flex justify-center px-60 grid grid-cols-2 gap-2 ">
        <div>
            <IconSize.Components.DragDrop InputEvent="OnInputFileChange"/>
            <IconSize.Components.FileViewer @ref="fileView"/>
        </div>
        <div>
            <IconSize.Components.IconSelecter />
        </div>
    </div>
</div>


@code{
    string Message = "No uploaded files";
    IconSize.Components.FileViewer fileView;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        fileView.AddUploadFile(e.GetMultipleFiles());
        Message = $"Files uploaded";
        this.StateHasChanged();
    }
}
